*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


            /* ============= HEADER START ============= */


/* ============= header-top ============= */

header .header-top{
    padding-top: 28px;
    padding-bottom: 33px;
}
header .header-top .header-top-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header-top .header-top-left a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #000000;
    text-decoration: none;
}
header .header-top .header-top-left a i {
    color: #1147AB;
    margin-right: 4px;
}
header .header-top .header-top-right{
    display: flex;
    align-items: center;
}
header .header-top .header-top-right i{
    color: #1147AB;
    font-size: 26px;
    margin-top: 7px;
}
header .header-top .header-top-right .right {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}
header .header-top .header-top-right .right a{
    font-family: 'Raleway sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #1147AB;
    text-decoration: none;
}
header .header-top .header-top-right .right p{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 15px;
}


/* ============= header-bottom ============= */

header .header-bottom {
    position: relative;
}
header .header-bottom .menu-bar{
    position: absolute;
    top: 48px;
    z-index: 1;
    padding-left: 115px;
}
header .header-bottom .menu-bar .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
}
header .header-bottom .menu-bar .left .side-bar {
    padding: 22px 25px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 38px;
    cursor: pointer;
    width: 100%;
    color: #FFFFFF;
}
header .header-bottom .menu-bar .left .side-bar i{
    font-size: 34px;
}
header .header-bottom .menu-bar .left .side-bar .fa-x{
    display: none;
}
header .header-bottom .menu-bar .left a .fa-eye{
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 42px;
}
header .header-bottom .menu-bar .left .dropdown {
    margin-bottom: 176px;
}
header .header-bottom .menu-bar .left .dropdown .btn-secondary{
    background: transparent;
    border: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}
header .header-bottom .menu-bar .left .dropdown .dropdown-menu{
    min-width: 4rem;
}
header .header-bottom .menu-bar .left .dropdown .dropdown-toggle::after{
    content: "";
    display: none;
}
header .header-bottom .menu-bar .left a .fa-telegram,
header .header-bottom .menu-bar .left a .fa-facebook-f,
header .header-bottom .menu-bar .left a .fa-instagram {
    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 51px;
}
header .header-bottom .menu-bar .left a .fa-twitter {
    color: #FFFFFF;
    font-size: 30px;
}
header .header-bottom .menu-bar .right{
    background: white;
    padding-top: 56px;
    display: none;
}
header .header-bottom .menu-bar .right ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
header .header-bottom .menu-bar .right ul li a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #072F95;
    text-decoration: none;
    margin-bottom: 14px;
    display: block;
}
header .header-bottom .menu-bar .right ul li .first{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: #072F95;
    text-decoration: none;
    border-bottom: 1px solid #072F95;
    padding-bottom: 5px;
    margin-bottom: 21px;
    display: inline-block;
}
header .header-bottom .menu-bar .right ul li .second{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: #072F95;
    text-decoration: none;
    border-bottom: 1px solid #072F95;
    padding-bottom: 5px;
    margin-bottom: 21px;
    margin-top: 83px;
    display: inline-block;
}
header .header-bottom .left{
    height: 900px;
    background: linear-gradient(rgba(21, 3, 3, 0.51), rgba(6, 2, 2, 0.71)), url("../images/left-bg.png") no-repeat center center / cover;
    position: relative;
}
header .header-bottom .left .cart{
    display: flex;
    padding-top: 250px;
    margin-right: 5px;
}
header .header-bottom .left .cart .one{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 135px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 52px;
}
header .header-bottom .left .cart .one::after{
    content: "";
    width: 74px;
    height: 2px;
    background: #FFFFFF;
    display: block;
    margin-top: 10px;
}
header .header-bottom .left .cart .sistem h2{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 57px;
    line-height: 63px;
    text-transform: uppercase;
    color: #508BFF;
    margin-bottom: 18px;
    margin-top: 10px;
}
header .header-bottom .left .cart .sistem h2 span{
    color: white;
}
header .header-bottom .left .cart .sistem p{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 37px;
}
header .header-bottom .left .cart .sistem button{
    border: none;
    border: 1px solid #959596;
    background: transparent;
    padding: 12px 60px;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
}
header .header-bottom .pad{
    padding: 0;
}
header .header-bottom .mar{
    margin: 0;
}
header .header-bottom .img1{
    height: 900px;
    background: linear-gradient(#bf1211a1, #7c2221d4), url("../images/img1.png") no-repeat center center / cover;
    padding-top: 654px;
}
header .header-bottom .img1 a{
    text-decoration: none;
    transform: rotate(270deg);
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 55px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
header .header-bottom .img2{
    height: 900px;
    background: linear-gradient(#F3B6082E , #A17906AB ,#0000007a ), url("../images/img2.png")  no-repeat center center / cover;
    padding-top: 654px;
}
header .header-bottom .img2 a{
    text-decoration: none;
    transform: rotate(270deg);
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 55px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
header .header-bottom .img3{
    height: 900px;
    background: linear-gradient(#1147AB57 , #1147ABDE ), url("../images/img3.png")  no-repeat center center / cover;
    padding-top: 654px;
}
header .header-bottom .img3 a{
    text-decoration: none;
    transform: rotate(270deg);
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 55px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}


            /* ============= HEADER END ============= */



            /* ============= MAIN START ============= */


main {
    margin-top: 75px;
}

/* ============= main-top ============= */

main .main-top .bor-bot{
    border-bottom: 1px solid #c9d5d5;
}
main .main-top p{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36.34px;
    line-height: 43px;
    color: #1147AB;
    margin-bottom: 12px;
    position: relative;
}
main .main-top p::after{
    content: "";
    background: #1147AB;
    display: block;
    height: 2px;
    position: absolute;
    width: 285px;
    top: 59px;
    left: -12px;
}
main .main-top a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1147AB;
    text-decoration: none;
    padding: 12px 24px 14px 22px;
    border: 1px solid #1147AB;
    margin-bottom: 12px;
    display: inline-block;
}
main .main-top a i{
    margin-left: 14px;
}


/* ============= main-bottom ============= */

main .main-bottom .left {
    background: linear-gradient(#0000, #14141447, #3838387d, #000c), url("../images/main-img1.png") no-repeat center center / cover;
    height: 617px;
    padding-top: 350px;
    padding-left: 48px;
    margin-top: 51px;
}
main .main-bottom .left p{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color: #FFFFFF;
    margin-bottom: 37px;
}
main .main-bottom .left span{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
}

main .main-bottom .right .mar-top{
    margin-top: 31px;
}
main .main-bottom .right .bor-red {
    border-left: 3px solid #960707;
}
main .main-bottom .right .bor-yellow {
    border-left: 3px solid #CFA93E;
}
main .main-bottom .right .bor-blue {
    border-left: 3px solid #1147AB;
}
main .main-bottom .right{
    margin-top: 51px;
}
main .main-bottom .right .img{
    max-width: 100%;
}
main .main-bottom .right .text1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.15px;
    color: #960707;
    margin: 0;
    margin-bottom: 6px;
}
main .main-bottom .right .text2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.15px;
    color: #CFA93E;
    margin: 0;
    margin-bottom: 6px;
}
main .main-bottom .right .text3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.15px;
    color: #1147AB;
    margin: 0;
    margin-bottom: 6px;
}
main .main-bottom .right p{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #333333;
}
main .main-bottom .right span{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.15px;
    color: #333333;
    opacity: 0.6;
}
main .main-bottom .right .first{
    margin-top: 5px;
    display: block;
}
main .main-bottom .right .second{
    margin-top: 35px;
    display: block;
}
main .main-bottom .right .third{
    margin-top: 65px;
    display: block;
}


            /* ============= MAIN END ============= */


        
            /* ============= SECTION START ============= */

section{
    max-width: 1320px;
    margin: auto;
    width: 100%;
    padding: 0 15px;
    margin-top: 103px;
    display: flex;
    flex-wrap: wrap;
}

section .block1 {
    width: 50%;
    padding-right: 75px;
}
section .block1 h3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36.34px;
    line-height: 43px;
    color: #1147AB;
    border-bottom: 1px solid #c9d5d5;
    margin: 0;
    padding-bottom: 19px;
    position: relative;
    margin-bottom: 28px;
}
section .block1 h3::after {
    content: "";
    height: 2px;
    width: 285px;
    background: #1147AB;
    display: block;
    position: absolute;
    top: 61px;
    left: -14px;
}
section .block1 p{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #000000;
}

section .block2 {
    width: 50%;
    background: linear-gradient(#00000040,#000000d4), url("../img/section-img1.png") no-repeat center center / cover;
    height: 417px;
    padding-top: 281px;
}
section .block2 p{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 45px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    padding-left: 51px;
}

section .block3{
    width: 50%;
    background: linear-gradient(#E3020278,#CE2A2A91, #000000e3 ), url("../img/section-img2.png") no-repeat center center / cover;
    height: 420px;
    padding-top: 284px;
    padding-left: 51px;
}
section p{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 45px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
}

section .block4{
    width: 50%;
    background: linear-gradient(#0059FF94,#0059FF94, #000000a3,#000000b5), url("../img/section-img3.png") no-repeat center center / cover;
    padding-top: 284px;
    padding-left: 50px;
}
section .block4 p {
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 45px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
}

            /* ============= SECTION END ============= */


            /* ============= MENU START ============= */

menu {
    padding-top: 83px;
    padding-bottom: 69px;
    background: linear-gradient(#F4F7F7,#F4F7F7);
}
menu .menu-top .bor-bot{
    border-bottom: 1px solid #c9d5d5;
}
menu .menu-top p{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36.34px;
    line-height: 43px;
    color: #1147AB;
    margin-bottom: 12px;
    position: relative;
}
menu .menu-top p::after{
    content: "";
    background: #1147AB;
    display: block;
    height: 2px;
    position: absolute;
    width: 285px;
    top: 59px;
    left: -14px;
}
menu .menu-top a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1147AB;
    text-decoration: none;
    padding: 12px 24px 14px 22px;
    border: 1px solid #1147AB;
    margin-bottom: 12px;
    display: inline-block;
}
menu .menu-top a i{
    margin-left: 14px;
}

menu .menu-slide{
    margin-top: 71px;
    position: relative;
}
menu .menu-slide .carousel .carousel-indicators {
    display: none;
}
menu .menu-slide .carousel .carousel-inner .carousel-item .box1 {
    background: #960707;
    margin-top: 34px;
    padding-top: 420px;
    box-shadow: -10px -9px 13px -2px #9c0f0f;
    padding-left: 30px;
    padding-bottom: 15px;
}
menu .menu-slide .carousel .carousel-inner .carousel-item .box2 {
    background: #FFD25E;
    margin-top: 34px;
    padding-top: 420px;
    box-shadow: -10px -9px 13px -2px #e5be58;
    padding-left: 30px;
    padding-bottom: 15px;
}
menu .menu-slide .carousel .carousel-inner .carousel-item .box3{
    background: #1147AB;
    margin-top: 34px;
    padding-top: 420px;
    box-shadow: -10px -9px 13px -2px #5279c0;
    padding-left: 30px;
    padding-bottom: 15px;
}
menu .menu-slide .carousel .carousel-inner .carousel-item .box1 a,
menu .menu-slide .carousel .carousel-inner .carousel-item .box2 a,
menu .menu-slide .carousel .carousel-inner .carousel-item .box3 a {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 900;
    font-size: 16.7868px;
    line-height: 21px;
    letter-spacing: 0.95388px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
menu .menu-slide .carousel .carousel-inner .carousel-item .cart1{
    position: absolute;
    top: 0;
    padding: 43px 26px 68px 31px;
    max-width: 300px;
    width: 100%;
    left: 85px;
    background: #FFFFFF;
}
menu .menu-slide .carousel .carousel-inner .carousel-item .cart2{
    position: absolute;
    top: 0;
    padding: 43px 26px 165px 31px;
    max-width: 300px;
    width: 100%;
    left: 526px;
    background: #FFFFFF;
}
menu .menu-slide .carousel .carousel-inner .carousel-item .cart3{
    position: absolute;
    top: 0;
    padding: 43px 26px 200px 31px;
    max-width: 300px;
    width: 100%;
    left: 964px;
    background: #FFFFFF;
}

menu .menu-slide .carousel .carousel-inner .carousel-item .cart1 p,
menu .menu-slide .carousel .carousel-inner .carousel-item .cart2 p,
menu .menu-slide .carousel .carousel-inner .carousel-item .cart3 p{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 154%;
    letter-spacing: 0.5px;
    color: #000000;
    margin-top: 20px;
}

menu .menu-slide .carousel .carousel-control-prev,
menu .menu-slide .carousel .carousel-control-next{
    opacity: 1;
}
menu .menu-slide .carousel .carousel-control-prev i{
    background:#FFFFFF;
    color: #000000;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 200px;
    border-radius: 50%;
    font-size: 28px;
    box-shadow: 13px 16px 39px -7px #000000;
}
menu .menu-slide .carousel .carousel-control-next i{
    background:#FFFFFF;
    color: #000000;
    padding: 20px;
    position: absolute;
    top: 210px;
    left: 208px;
    border-radius: 50%;
    font-size: 28px;
    box-shadow: 13px 16px 39px -7px #000000;
}

            /* ============= MENU END ============= */



            /* ============= class MENU START ============= */

.menu {
    margin-top: 98px;
    margin-bottom: 121px;
}
.menu .menu-top .bor-bot{
    border-bottom: 1px solid #c9d5d5;
}
.menu .menu-top p{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36.34px;
    line-height: 43px;
    color: #1147AB;
    margin-bottom: 12px;
    position: relative;
}
.menu .menu-top p::after{
    content: "";
    background: #1147AB;
    display: block;
    height: 2px;
    position: absolute;
    width: 285px;
    top: 59px;
    left: -14px;
}
.menu .menu-top a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1147AB;
    text-decoration: none;
    padding: 12px 24px 14px 22px;
    border: 1px solid #1147AB;
    margin-bottom: 12px;
    display: inline-block;
}
.menu .menu-top a i{
    margin-left: 14px;
}

.menu .menu-field{
    max-width: 1320px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 43px;
} 
.menu .menu-field .block-left{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.menu .menu-field .block-left .box1 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #85B0FF;
}
.menu .menu-field .block-left .box1 a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    text-decoration: none;
}
.menu .menu-field .block-left .box2 {
    width: 50%;
}
.menu .menu-field .block-left .box3{
    width: 50%;
}
.menu .menu-field .block-left .box2 img{
    max-width: 100%;
    min-height: auto;
}
.menu .menu-field .block-left .box4 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}
.menu .menu-field .block-left .box4 a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    text-decoration: none;
    text-align: center;
}
.menu .menu-field .block-left .box5 {
    width: 50%;
}
.menu .menu-field .block-left .box5 img{
    max-width: 100%;
    min-height: auto;
}
.menu .menu-field .block-left .box6{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #69E1BD;
}
.menu .menu-field .block-left .box6 a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 31px;
    color: #000000;
    text-decoration: none;
}

.menu .menu-field .block-right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.menu .menu-field .block-right .box1{
    width: 50%;
    height: 311px;
}
.menu .menu-field .block-right .box2{
    width: 50%;
    background:#F67E7E;
    height: 311px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu .menu-field .block-right .box2 a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    text-decoration: none;
}


.menu .menu-field .block-right .box3 {
    width: 100%;
    background: #FFE195;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
}
.menu .menu-field .block-right .box3 a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    text-decoration: none;
}
.menu .menu-field .block-right .box4 {
    width: 100%;
}
.menu .menu-field .block-right .box4 img{
    max-width: 100%;
    min-height: auto;
}

            /* ============= class MENU END ============= */



            /* ============= class SECTION START ============= */

.section .carousel .carousel-inner .carousel-item h3{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36.34px;
    line-height: 43px;
    color: #1147AB;
    border-bottom: 1px solid #c9d5d5;
    padding-bottom: 19px;
    position: relative;
    margin-bottom: 29px;
}
.section .carousel .carousel-inner .carousel-item h3::after{
    content: "";
    display: block;
    height: 2px;
    background: #1147AB;
    width: 285px;
    position: absolute;
    top: 61px;
}
.section .carousel .carousel-inner .carousel-item .link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1147AB;
    text-decoration: none;
    padding: 12px 24px 14px 22px;
    border: 1px solid #1147AB;
    margin-bottom: 12px;
    display: inline-block;
    margin-bottom: 90px;
}
.section .carousel .carousel-inner .carousel-item .mar-bot{
    margin-bottom: 32px;
}
.section .carousel .carousel-inner .carousel-item .mar-top{
    margin-top: -40px;
}
.section .carousel .carousel-inner .carousel-item .comment{
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 110px;
}
.section .carousel .carousel-inner .carousel-item .comment p{
    margin: 0;
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.7px;
    color: #000000;
    margin-bottom: 19px;
}
.section .carousel .carousel-inner .carousel-item .comment a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #1147AB;
    text-decoration: none;
}
.section .carousel .carousel-inner .carousel-item .comment .quote1{
    position: absolute;
    top: 76px;
    left: -14px;
}
.section .carousel .carousel-inner .carousel-item .comment .quote2{
    position: absolute;
    bottom: -18px;
    right: 0;
}
.section .carousel .carousel-control-prev,
.section .carousel .carousel-control-next {
    opacity: 1;
}
.section .carousel .carousel-control-prev i{
    position: absolute;
    bottom: 141px;
    display: block;
    font-size: 25px;
    left: 900px;
    background: #FFFFFF;
    color: #000000;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 13px 16px 39px -7px #000000;
}
.section .carousel .carousel-control-next i{
    position: absolute;
    bottom: 141px;
    display: block;
    font-size: 25px;
    right: 261px;
    background: #FFFFFF;
    color: #000000;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 13px 16px 39px -7px #000000;
}


            /* ============= class SECTION END ============= */



            /* ============= class MAIN START ============= */

.main {
    background: #F5F5F5;
}
.main .main-top .bor-bot{
    border-bottom: 1px solid #c9d5d5;
}
.main .main-top p{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36.34px;
    line-height: 43px;
    color: #1147AB;
    margin-bottom: 12px;
    position: relative;
}
.main .main-top p::after{
    content: "";
    background: #1147AB;
    display: block;
    height: 2px;
    position: absolute;
    width: 285px;
    top: 97px;
    left: -12px;
}
.main .main-top a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1147AB;
    text-decoration: none;
    padding: 12px 24px 14px 22px;
    border: 1px solid #1147AB;
    margin-bottom: 12px;
    display: inline-block;
}
.main .main-top a i{
    margin-left: 14px;
}
.main .main-map {
    padding-top: 53px;
}
.main .main-map .cart {
    background: #FFFFFF;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
}
.main .main-map .cart .region{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 134.1%;
    color: #0047FF;
}
.main .main-map .cart .link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 134.1%;
    color: #1147AB;
    text-decoration: none;
}
.main .main-map .cart .block {
    display: flex;
    position: relative;
}
.main .main-map .cart .block .box1 {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    padding-left: 32px;
}
.main .main-map .cart .block .box1 .link1{
    margin-bottom: 90px;
    text-decoration: none;
}
.main .main-map .cart .block .box1 p{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 57px;
    color: #000000;
}
.main .main-map .cart .block .box1 span{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 90px;
}
.main .main-map .cart .block .box1::before {
    content: "";
    width: 10px;
    height: 10px;
    background: #E7E7E7;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 137px;
    top: 82px;
}
.main .main-map .cart .block .box1::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #E7E7E7;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 137px;
    bottom: 69px;
}
.main .main-map .cart .block .line{
    position: absolute;
    bottom: 72px;
    display: block;
    height: 340px;
    width: 2px;
    background: #E7E7E7;
    left: 141px;  
}
.main .main-map .cart .block .line::after{
    content: "";
    width: 10px;
    height: 10px;
    background: #E7E7E7;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: -4px;
    bottom: 159px;
}
.main .main-map .cart .block .box2 {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
    margin-left: 30px;
    padding-left: 30px;
}
.main .main-map .cart .block .box2 p{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 57px;
    color: #000000;
}
.main .main-map .cart .block .box2 a{
    margin-top: 90px;
    margin-bottom: 90px;
}

            /* ============= class MAIN END ============= */



            /* ============= class SECTION-BLOCK START ============= */

.section-block {
    padding-top: 100px;
    background: #F5F5F5;
}
.section-block .section-block-top .bor-bot{
    border-bottom: 1px solid #c9d5d5;
}
.section-block .section-block-top p{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36.34px;
    line-height: 43px;
    color: #1147AB;
    margin-bottom: 12px;
    position: relative;
}
.section-block .section-block-top p::after{
    content: "";
    background: #1147AB;
    display: block;
    height: 2px;
    position: absolute;
    width: 285px;
    top: 59px;
    left: -12px;
}
.section-block .section-block-top a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1147AB;
    text-decoration: none;
    padding: 12px 24px 14px 22px;
    border: 1px solid #1147AB;
    margin-bottom: 12px;
    display: inline-block;
}
.section-block .section-block-top a i{
    margin-left: 14px;
}
.section-block .section-block-cart {
    margin-top: 31px;
}
.section-block .section-block-cart .bor-blue{
    border-right: 3px solid #1147AB;
}
.section-block .section-block-cart .list-group .list-group-item {
    padding: 0;
    padding: 19px 37px 25px 41px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    background: transparent;
    border: 0;
}
.section-block .section-block-cart .list-group .list-group-item.active{
    background: #0D308B;
    color: #FFFFFF;
}
.section-block .section-block-cart .tab-content .tab-pane .accordion .accordion-item .accordion-header  .accordion-button{
    background: #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #0E44A8;
    display: flex;
    align-items: flex-start;
}
.section-block .section-block-cart .tab-content .tab-pane .accordion .accordion-item .accordion-collapse{
    background: #F5F5F5;
}
.section-block .section-block-cart .tab-content .tab-pane .accordion .accordion-item .accordion-collapse .accordion-body{
    background: #F5F5F5;
}
.section-block .section-block-cart .tab-content .tab-pane .accordion .accordion-item .accordion-collapse a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.5px;
    color: #1147AB;
    text-decoration: none;
    text-align: center;
    display: block;
}
.section-block .section-block-cart .text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.55px;
    color: #000000;
    margin-top: 69px;
    display: block;
    margin-right: 28px;
}
.section-block .section-block-cart .link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.55px;
    color: #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 66px;
}
.section-block .section-block-cart .link .fa-angle-left {
    color: #1147AB;
    font-size: 30px;
    margin-right: 8px;
}
.section-block .section-block-cart .link .fa-angle-right {
    color: #1147AB;
    font-size: 30px;
    margin-left: 8px;
}

            /* ============= class SECTION-BLOCK END ============= */



            /* ============= class MENU-BLOCK START ============= */

.menu-block {
    padding-top: 131px;
    background: #F5F5F5;
    padding-bottom: 78px;
}            
.menu-block .menu-block-top .bor-bot{
    border-bottom: 1px solid #c9d5d5;
}
.menu-block .menu-block-top p{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 36.34px;
    line-height: 43px;
    color: #1147AB;
    margin-bottom: 12px;
    position: relative;
}
.menu-block .menu-block-top p::after{
    content: "";
    background: #1147AB;
    display: block;
    height: 2px;
    position: absolute;
    width: 285px;
    top: 59px;
    left: -14px;
}

.menu-block .menu-block-cart1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    background: #FFFFFF;
    width: 100%;
    padding: 36px 42px 45px 40px;
}
.menu-block .menu-block-cart1 p{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.5px;
    color: #000000;
    margin-left: 20px;
}
.menu-block .menu-block-cart2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    background: #FFFFFF;
    width: 100%;
    padding: 21px 42px 36px 40px;
}
.menu-block .menu-block-cart2 p{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.5px;
    color: #000000;
    margin-left: 20px;
}
.menu-block .menu-block-cart3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    background: #FFFFFF;
    width: 100%;
    padding: 36px 42px 45px 40px;
}
.menu-block .menu-block-cart3 p{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.5px;
    color: #000000;
    margin-left: 20px;
}

            /* ============= class MENU-BLOCK END ============= */



            /* ============= FOOTER START ============= */

footer {
    background: #0B0A6A;
    padding-top: 50px;
    padding-bottom: 67px;
}
footer .footer-top ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}
footer .footer-top ul .first a{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.55px;
    text-transform: uppercase;
    color: #EFF3FE;
    text-decoration: none;
    width: 100%;
    margin-bottom: 20px;
    display: block;
    border-bottom: 1px solid#8389BF;
    padding-bottom: 20px;
}
footer .footer-top ul li a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #BBC0D9;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
}
footer .footer-bottom .bor-top{
    border-top: 1px solid #8389BF;
    padding-top: 30px;
}
footer .footer-bottom .icons {
    display: flex;
    justify-content: end;
}
footer .footer-bottom .icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    margin-right: 26px;
    border-radius: 50%;
    padding: 11px;
    color: #FFFFFF;
    text-decoration: none;
}



            /* ============= MEDIA QUERY ============= */


            /* 1339px XL */
@media (max-width: 1399px) {

                /* ============= HEADER START ============= */

    header .header-bottom .left .cart .one {
        font-size: 81px;
    }
    header .header-bottom .left .cart .sistem h2 {
        font-size: 44px;
    }
    header .header-bottom .left .cart .sistem p {
        font-size: 15px;
    }
    header .header-bottom .img1 a,
    header .header-bottom .img2 a,
    header .header-bottom .img3 a {
        font-size: 41px;
    }

                /* ============= MAIN START ============= */

    main .main-bottom .right p {
        font-size: 15px;
    }

                /* ============= SECTION START ============= */

    section {
        max-width: 1140px;
        width: 100%;
    }

                /* ============= MENU START ============= */

    menu .menu-slide .carousel .carousel-inner .carousel-item .cart1 {
        left: -20px;
    }
    menu .menu-slide .carousel .carousel-inner .carousel-item .cart2 {
        left: 363px;
    }
    menu .menu-slide .carousel .carousel-inner .carousel-item .cart3  {
        left: 741px;
    }
    menu .menu-slide .carousel .carousel-control-prev i {
        bottom: -80px;
        left: 468px;
        top: unset;
    }
    menu .menu-slide .carousel .carousel-control-next i {
        left: -347px;
        bottom: -80px;
        top: unset;
    }
    .menu .menu-field .block-left .box2 img{
        min-height: 100%;
    }
    .menu .menu-field .block-left .box3 img{
        min-height: 100%;
    }
    .menu .menu-field .block-left .box5 img{
        min-height: 100%;
    }

            /* ============= class MENU START ============= */

    .menu .menu-field {
        max-width: 1140px;
        width: 100%;
    }

            /* ============= class SECTION START ============= */

    .section .carousel .carousel-inner .carousel-item .comment p {
        font-size: 16px;
    }
    .section .carousel .carousel-inner .carousel-item .comment {
        padding-left: 45px;
    }
    .section .carousel .carousel-inner .carousel-item .comment .quote1  {
        left: 12px;
    }
    .section .carousel .carousel-control-next i {
        bottom: 114px;
        right: 160px;
    }
    .section .carousel .carousel-control-prev i {
        bottom: 115px;
        left: 830px;
    }

            /* ============= class MAIN START ============= */

    .main .main-map .cart .block {
        justify-content: center;
    }
    .main .main-map .cart .region {
        text-align: center;
    }
    .main .main-map .cart .link {
        text-align: center;
        display: block;
    }
    .main .main-map .cart .block .box2 {
        margin-left: 100px;
    }
    .main .main-map .cart .block .line {
        left: 526px;
    }
    .main .main-map .cart .block .box1::before {
        left: 522px;
        top: 59px;
    }
    .main .main-map .cart .block .box1::after {
        left: 522px ;
    }

            /* ============= class MENU-BLOCK START ============= */

    .menu-block .menu-block-cart2{
        padding: 21px 42px 11px 40px;
    }
    .menu-block .menu-block-cart3 {
        padding: 36px 42px 21px 40px;
    }
    .menu-block .menu-block-cart1 p,
    .menu-block .menu-block-cart2 p,
    .menu-block .menu-block-cart3 p {
        font-size: 14px;
    }
}


            /* 1199px LG */
@media (max-width: 1199px) {

                    /* ============= HEADER START ============= */

    header .header-bottom .menu-bar .left {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 0;
    }
    header .header-bottom .menu-bar .left .side-bar {
        width: 0;
        padding: 24px 52px;
    }
    header .header-bottom .menu-bar .left a .fa-eye{
        margin-bottom: 30px;
    }
    header .header-bottom .menu-bar .left .dropdown {
        margin-bottom: 30px;
    }
    header .header-bottom .menu-bar .left a .fa-telegram,
    header .header-bottom .menu-bar .left a .fa-facebook-f,
    header .header-bottom .menu-bar .left a .fa-instagram,
    header .header-bottom .menu-bar .left a .fa-twitter {
        margin-bottom: 30px;
    }
    header .header-bottom .left .cart {
        justify-content: center;
        text-align: center;
        margin-top: 70px;
    }
    header .header-bottom .img1 a,
    header .header-bottom .img2 a,
    header .header-bottom .img3 a {
        font-size: 31px;
    }
    header .header-bottom .menu-bar .right ul li .second {
        margin-top: 0;
    }
    header .header-bottom .img1,
    header .header-bottom .img2,
    header .header-bottom .img3{
        padding-top: 600px;
    }

                    /* ============= SECTION START ============= */

    section {
        max-width: 960px;
        width: 100%;
    }
    section .block1 p{
        font-size: 15px;
    }
    section .block2 p {
        font-size: 25px;
        padding-left: 51px;
    }
    section .block3 p {
        font-size: 25px;
    }
    section .block4 p {
        font-size: 25px;
    }

                    /* ============= MENU START ============= */

    menu .menu-slide .carousel .carousel-inner .carousel-item .cart1 {
        left: -2px;
    }
    menu .menu-slide .carousel .carousel-inner .carousel-item .cart2 {
        left: 315px;
    }
    menu .menu-slide .carousel .carousel-inner .carousel-item .cart3 {
        left: 635px;
    }
    menu .menu-slide .carousel .carousel-control-next i  {
        left: -310px;
    }
    menu .menu-slide .carousel .carousel-control-prev i {
        left: 400px;
    }
    menu .menu-slide .carousel .carousel-control-prev i {
        max-width: 960px;
    }

                    /* ============= class MENU START ============= */

    .menu .menu-field .block-left .box2 img {
        min-height: 100%;
    }
    .menu .menu-field .block-left .box3 img{
        min-height: 100%;
    }
    .menu .menu-field .block-right .box3 {
        height: 125px;
    }

                    /* ============= class SECTION START ============= */

    .section .carousel .carousel-inner .carousel-item .link  {
        margin-bottom: 40px;
    }
    .section .carousel .carousel-control-prev i {
        display: none;
    }
    .section .carousel .carousel-control-next i {
        display: none;
    }

                    /* ============= class MAIN START ============= */

    .main .main-map .cart .block .line {
        left: 442px;
    }
    .main .main-map .cart .block .box1::before {
        left: 438px;
    }
    .main .main-map .cart .block .box1::after {
        left: 438px;
    }

                    /* ============= class SECTION-BLOCK START ============= */

    .section-block .section-block-cart .list-group .list-group-item {
        font-size: 17px;
    }
    .section-block .section-block-cart .tab-content .tab-pane .accordion .accordion-item .accordion-header .accordion-button {
        font-size: 15px;
    }

                    /* ============= class MENU-BLOCK START ============= */

    .menu-block .menu-block-top p::after {
        top: 54px;
    }
    .menu-block .menu-block-cart3 {
        padding: 27px 42px 5px 40px;
    }
    .menu-block .menu-block-cart3 p {
        margin-left: 16px;
        font-size: 12px;
    }
    .menu-block .menu-block-cart1 {
        padding: 29px 42px 4px 40px
    }

                    /* ============= FOOTER START ============= */

    footer .footer-top ul .first a {
        font-size: 17px;
    }
    footer .footer-top ul li a {
        font-size: 14px;
    }
}


            /* 991px MD */
@media (max-width: 991px) {

                    /* ============= HEADER START ============= */

    header .header-bottom .menu-bar .left {
        justify-content: start;
        margin-left: 60px;
    }
    header .header-bottom .menu-bar .left a .fa-eye {
        margin-left: 20px;
    }
    header .header-bottom .menu-bar .left .dropdown .btn-secondary {
        margin-left: 20px;
    }
    header .header-bottom .menu-bar .left a .fa-telegram, 
    header .header-bottom .menu-bar .left a .fa-facebook-f, 
    header .header-bottom .menu-bar .left a .fa-instagram, 
    header .header-bottom .menu-bar .left a .fa-twitter {
        margin-left: 32px;
    }
    header .header-bottom .menu-bar .right {
        margin-left: 60px;
    }
    header .header-bottom .menu-bar .right ul li .first  {
        font-size: 19px;
    }
    header .header-bottom .menu-bar .right ul li a {
        font-size: 12px;
    }

                    /* ============= MAIN START ============= */

    main .main-top p {
        font-size: 30px;
    }
    main .main-bottom .left p {
        font-size: 30px;
    }
    main .main-bottom .right .img {
        width: 100%;
    }

                    /* ============= SECTION START ============= */

    section .block1 h3 {
        font-size: 30px;
    }
    section .block1 p {
        font-size: 11px;
    }
    section .block2 p,
    section .block3 p,
    section .block4 p {
        font-size: 18px;
    }

                    /* ============= MENU START ============= */

    menu .menu-top p {
        font-size: 30px;
    }
    menu .menu-slide .carousel .carousel-inner .carousel-item .cart1 {
        max-width: 218px;
    }
    menu .menu-slide .carousel .carousel-inner .carousel-item .cart2 {
        max-width: 218px;
        padding: 43px 26px 123px 31px;
        left: 237px;
    }
    menu .menu-slide .carousel .carousel-inner .carousel-item .cart3 {
        max-width: 218px;
        left: 478px;
        padding: 43px 26px 151px 31px
    }
    menu .menu-slide .carousel .carousel-inner .carousel-item .cart1 p, 
    menu .menu-slide .carousel .carousel-inner .carousel-item .cart2 p,
    menu .menu-slide .carousel .carousel-inner .carousel-item .cart3 p {
        font-size: 17px;
    }
    menu .menu-slide .carousel .carousel-control-next i {
        left: -192px;
    }
    menu .menu-slide .carousel .carousel-control-prev i {
        left: 296px;
    }

                    /* ============= class MENU START ============= */

    .menu .menu-top p {
        font-size: 30px;
    }
    .menu .menu-field {
        max-width: 720px;
        width: 100%;
    }
    .menu .menu-field .block-left .box1 a {
        font-size: 24px;
    }
    .menu .menu-field .block-right .box2 a {
        font-size: 23px;
    }
    .menu .menu-field .block-left .box4 a {
        font-size: 24px;
    }
    .menu .menu-field .block-right .box3 a {
        font-size: 24px;
    }
    .menu .menu-field .block-left .box6 a {
        font-size: 24px;
    }

                    /* ============= class SECTION START ============= */

    .section .carousel .carousel-inner .carousel-item h3 {
        font-size: 30px;
    }
    .section .carousel .carousel-inner .carousel-item .comment p  {
        font-size: 15px;
    }
    .section .carousel .carousel-inner .carousel-item .comment .quote1 {
        left: 0px;
        top: 92px;
    } 
    .section .carousel .carousel-inner .carousel-item .comment .quote2 {
        bottom: 16px;
        right: -1px;
    }
    
                    /* ============= class MAIN START ============= */

    .main .main-top p {
        font-size: 25px;
    }
    .main .main-map .map{
        width: 100%;
    }
    .main .main-map .cart .block .line {
        left: 323px;
    }
    .main .main-map .cart .block .box1::before {
        left: 319px;
    }
    .main .main-map .cart .block .box1::after {
        left: 319px;
    }

                    /* ============= class SECTION-BLOCK START ============= */

    .section-block .section-block-top p {
        font-size: 30px;
    }

                    /* ============= class MENU-BLOCK START ============= */

    .menu-block .menu-block-top p {
        font-size: 30px;
    }
    .menu-block .menu-block-cart1 {
        padding: 29px 42px 44px 40px;
    }
    .menu-block .menu-block-cart2 {
        padding: 12px 42px 11px 36px;
    }
    .menu-block .menu-block-cart1 p, 
    .menu-block .menu-block-cart2 p, 
    .menu-block .menu-block-cart3 p {
        font-size: 12px;
    }
    .menu-block .menu-block-cart3 {
        padding: 27px 42px 26px 40px;
    }
}


            /* 767px SM */
@media (max-width: 767px) {

                            /* ============= HEADER START ============= */

    header .header-top .header-top-right{
        margin-top: 20px;
    }
    header .header-bottom .menu-bar .left {
        margin-left: -50px;
    }
    header .header-bottom .menu-bar .right {
        margin-left: -50px;
    }
    header .header-bottom .left .cart .one {
        font-size: 55px;
        margin-right: 0;
    }
    header .header-bottom .left .cart .one {
        padding-left: 8px;
    }
    header .header-bottom .left .cart .sistem h2 {
        font-size: 37px;
    }
    header .header-bottom .left .cart .sistem p {
        font-size: 14px;
    }
    header .header-bottom .left .cart .sistem button {
        font-size: 15px;
    }
    header .header-bottom .menu-bar .left a .fa-telegram, 
    header .header-bottom .menu-bar .left a .fa-facebook-f, 
    header .header-bottom .menu-bar .left a .fa-instagram, 
    header .header-bottom .menu-bar .left a .fa-twitter {
        margin-left: 42px;
    }
    header .header-bottom .img1, header .header-bottom .img2, header .header-bottom .img3 {
        padding-top: 420px;
    }
    header .header-bottom .img1, 
    header .header-bottom .img2,
    header .header-bottom .img3 {
        padding-top: 420px;
    }

                            /* ============= MAIN START ============= */

    main .main-bottom .left p {
        font-size: 26px;
    }
    main .main-bottom .right .bor-yellow {
        border-left: 3px solid transparent;
    }
    main .main-bottom .right .bor-red {
        border-left: 3px solid transparent;
    }
    main .main-bottom .right .bor-blue {
        border-left: 3px solid transparent;
    }
    main .main-bottom .right .first,
    main .main-bottom .right .second,
    main .main-bottom .right .third {
        margin-bottom: 25px;
    }

                            /* ============= SECTION START ============= */

    section {
        max-width: 540px;
        width: 100%;
    }
    section .block1 {
        width: 100%;
        margin-bottom: 20px;
    }
    section .block1 p {
        font-size: 14px;
    }
    section .block2 {
        width: 100%;
        margin-bottom: 20px;
    }
    section .block3 {
        width: 100%;
        margin-bottom: 20px;
    }
    section .block4 {
        width: 100%;
        margin-bottom: 20px;
    }

                            /* ============= class MENU START ============= */

    .menu .menu-field {
        max-width: 540px;
        width: 100%;
    }
    .menu .menu-field .block-left {
        width: 100%;
    }
    .menu .menu-field .block-right {
        width: 100%;
    }

                            /* ============= class MAIN START ============= */

    .main .main-top p {
        font-size: 22px;
    }
    .main .main-top a {
        margin-top: 20px;
    }
    .main .main-map .cart .block .line {
        left: 234px;
    }
    .main .main-map .cart .block .box1::before {
        left: 230px;
    }
    .main .main-map .cart .block .box1::after {
        left: 230px;
    }

                        /* ============= class SECTION-BLOCK START ============= */

    .section-block .section-block-top p {
        font-size: 25px;
    }
    .section-block .section-block-cart .list-group .list-group-item {
        font-size: 16px;
    }
    .section-block .section-block-cart .tab-content .tab-pane .accordion .accordion-item .accordion-header .accordion-button {
        font-size: 14px;
    }

                       /* ============= class MENU-BLOCK START ============= */

    .menu-block .menu-block-cart2 {
        padding: 25px 42px 29px 36px;
    }

                        /* ============= FOOTER START ============= */

    footer .footer-bottom .icons a {
        margin-right: 9px;
    }
} 

            /* 575px XS */
@media (max-width: 575px) {

                        /* ============= HEADER START ============= */

    header .header-top .header-top-left a {
        font-size: 12px;
    }
    header .header-bottom .menu-bar .left a .fa-telegram,
    header .header-bottom .menu-bar .left a .fa-facebook-f, 
    header .header-bottom .menu-bar .left a .fa-instagram, 
    header .header-bottom .menu-bar .left a .fa-twitter {
        display: none;
    }
    header .header-bottom .left .cart .sistem h2 {
        font-size: 33px;
    }
    header .header-bottom .left .cart .sistem p {
        font-size: 13px;
    }
    header .header-bottom .left .cart .sistem button {
        font-size: 13px;
    }

                        /* ============= MAIN START ============= */

    main .main-top p {
        font-size: 21px;
    }
    main .main-top a {
        font-size: 11px;
    }
    main .main-bottom .left p {
        font-size: 18px;
    }

                        /* ============= SECTION START ============= */

    section .block1 p {
        font-size: 12px;
    } 
    section .block3 p, 
    section .block4 p {
        font-size: 16px;
    }
    section .block3, 
    section .block4 {
        padding-left: 30px;
    }
    section .block2 p {
        padding-left: 25px;
        font-size: 16px;
    }

                        /* ============= class MENU START ============= */

    .menu .menu-top p {
        font-size: 20px;
    }
    .menu .menu-top a {
        font-size: 8px;
    }
    .menu .menu-field .block-left .box1 img{
        width: 100%;
    }
    .menu .menu-field .block-left .box3 img{
        width: 100%;
    }
    .menu .menu-field .block-right .box1 img{
        width: 100%;
    }
    .menu .menu-field .block-right .box2 {
        height: 146px;
    }
    .menu .menu-field .block-right .box1 {
        height: 146px;
    }
    .menu .menu-field .block-right .box2 a {
        font-size: 18px;
    }
    .menu .menu-field .block-left .box1 a {
        font-size: 18px;
    }
    .menu .menu-field .block-left .box4 a {
        font-size: 18px;
    }
    .menu .menu-field .block-left .box6 a {
        font-size: 18px;
    }
    .menu .menu-field .block-right .box3 a {
        font-size: 18px;
    }

                        /* ============= class MAIN START ============= */

    .main .main-top p {
        font-size: 17px;
    }
    .main .main-top a {
        margin-top: 50px;
    }
    .main .main-top p::after {
        top: 129px;
    }
    .main .main-map .cart .block .box2 p {
        font-size: 30px;
    }
    .main .main-map .cart .block .box1 p {
        font-size: 30px;
    }
    .main .main-map .cart .block .box1 span {
        font-size: 16px;
    }
    .main .main-map .cart .block .line {
        display: none;
    }
    .main .main-map .cart .block .box1::before {
        display: none;
    }
    .main .main-map .cart .block .box1::after {
        display: none;
    }
    .main .main-map .cart .block .box2 {
        margin-left: 35px;
    }

                        /* ============= class SECTION-BLOCK START ============= */

    .section-block .section-block-top p {
        font-size: 23px;
        margin-bottom: 30px;
    }
    .section-block .section-block-cart .list-group .list-group-item {
        font-size: 13px;
    }
    .section-block .section-block-cart .tab-content .tab-pane .accordion .accordion-item .accordion-header .accordion-button {
        font-size: 12px;
    }

                        /* ============= FOOTER START ============= */

    footer .footer-bottom .icons  {
        margin-top: 20px;
    }
    footer .footer-bottom .icons a {
        border: none;
        padding: 4px;
    }
    .section-block .section-block-cart .text {
        font-size: 14px;
    }
}

